{% extends 'index.html' %}
{% from 'bootstrap/form.html' import render_field %}


{% block content %}
<div class="formwrapper">
  <h2 class="title">Approve Registered User</h2>
  <p>Submit this form to approve the registration of:</p>
  <p>{{email}}</p>
  <form method="POST" action="/admin/approve_user_submit">
      <div class="form-field">{{ form.token }}
        {% if form.token.errors %}
          <ul class="errors">
            {% for error in form.token.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {{ form.csrf_token }}
      {{ render_field(form.submit) }}
  </form>
</div>
{% endblock %}