{% extends 'index.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<div class="formwrapper">
  <h2 class="title">Sign Up</h2>
  <form method="POST" action="/signup">
      {{ form.csrf_token }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirmPassword) }}
      {{ render_field(form.submit) }}
  </form>
</div>
{% endblock %}